
.create-comment>.form>textarea {
    resize: none;
    width: 400px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(84, 94, 104);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.create-comment>label {
    color: antiquewhite;
    text-align: center;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.btn-submit {
    margin-right: 200px;
    width: 125px;
    height: 30px;
    background-color: whitesmoke;
    cursor:pointer;
    font: 1em sans-serif;
    border: none;

}