.photo-details {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "card card card"
    "buttons . likes"
    "comments comments comments";
    margin-top: 10px;
    width: 750px;
    padding: 1.5rem;
    background-color: rgb(84, 94, 104);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.comments-div {
    overflow: auto;
    height: 150px;
    background-color: antiquewhite;
}

.comment-section {
    grid-area: comments;
    font-size: 18px;
}

.button-section {
    grid-area: buttons;
    justify-self: center;
}

.photo-section {
    grid-area: card;
    font-size: 23px;
    text-align: center;
    color: antiquewhite;
}

.photo-likes {
    grid-area: likes;
    justify-self: end;
    font-size: 18px;
    color: antiquewhite;;
}

.owner-buttons {
    width: 115px;
    text-align: center;
    font: 1em sans-serif;
    font-size: medium;
    font-size: 18px;
}

