.photo-details {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "card card card"
    "buttons . likes"
    "comments comments comments";
    margin-top: 10px;
    width: 750px;
    padding: 1.5rem;
    background-color: rgba(156, 154, 154, 0.63);
}

.comments-div {
    overflow: auto;
    height: 150px;
    background-color: whitesmoke;
}

.comment-section {
    grid-area: comments;
}

.button-section {
    grid-area: buttons;
    justify-self: center;
}

.photo-section {
    grid-area: card;
}

.photo-likes {
    grid-area: likes;
}