.photo-details {
   position: relative;
    margin-left: 30px;
    margin-top: 10px;
    width: 1000px;
    height: auto;
    padding: 25px;
    border: 3px solid rgb(63, 62, 62);
    background-color: rgb(109, 15, 15);
}

.buttons {
    position: relative;
    height: 10%;
    padding-left: 40px;
  
}

.photo-interaction-buttons {
    position: relative;
    height: 10%;
    padding-left: 40px;
}

.button {
    background-color: burlywood;
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: 1.3rem;
    font-style: oblique;
}

.likes {
    background-color: burlywood;
    position: relative;
    width: 100px;
    margin-left: 600px;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

.like-button {
    width: 90px;
    height: 30px;
    background-color: burlywood;
}

.button-section {
    display: flex;
    justify-content: flex-start;
}

.photo-info-section {
    padding-left: 50px;
    background-color:burlywood ;
    height: 30px;
}

.comments-div {
    overflow: auto;
    height: 150px;
    background-color:burlywood ;
}

.comments-title {
    color:burlywood ;
}

.comment-text {
    border-bottom: 1px solid black;
}