
.my-photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.no-photo-section {
    width: 350px;
    height: 110px;
    margin-left: 140px;
    margin-top: 20px;
    background-color: burlywood;
    text-align: center;
    border: 3px solid rgb(63, 62, 62);
    background-color: rgb(109, 15, 15);
}

.no-photo-text {
    width: 300px;
    height: 60px;
    margin-left: 25px;
    background-color: burlywood;
    text-align: center;
}