.img {
    object-fit: cover;
    padding: 5px;

}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 450px;
    height: auto;
    padding: 15px;
    border: 3px solid rgb(63, 62, 62);
    background-color: rgb(109, 15, 15);
    
}

.button {
    background-color: burlywood;
    width: 130px;
    height: auto;
    text-align: center;
    font-size: 1.3rem;
    font-style: oblique;
}





