
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  rgba(156, 154, 154, 0.63);
    width: 425px;
    height: 500px;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
}

.inputs-password {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; 
    width: fit-content;
    height: 40px;
}

.button-submit {
    height: 40px;
    width: 140px;
    margin-top: 100px;
    margin-left: 160px;
    background-color: whitesmoke;
}

.email {
    width:220px;
    height: 25px;
}

.password {
    width:220px;
    height: 25px;
}

.login-form-text {
    background-color: whitesmoke;
    text-align: center;
}

.email-label {
    color: whitesmoke;
}

.password-label {
    color: whitesmoke ;
}
