
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  rgba(156, 154, 154, 0.63);
    width: 425px;
    height: 500px;
    margin-top: 20px;
}

.button-submit {
    background-color: whitesmoke;
    font: 1em sans-serif;
}

.email {
    width:220px;
    height: 25px;
}

.password {
    width:220px;
    height: 25px;
}

.login-form-text {
    background-color: whitesmoke;
    text-align: center;
}

.email-label {
    color: whitesmoke;
}

.password-label {
    color: whitesmoke ;
}
