
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  rgb(84, 94, 104);
    width: 425px;
    height: 500px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.button-submit {
    background-color: antiquewhite;
    font: 1em sans-serif;
    border: none;
}

.email {
    width:220px;
    height: 25px;
}

.password {
    width:220px;
    height: 25px;
}

.login-form-text {
    color: antiquewhite;
    text-align: center;
}

.email-label {
    color: antiquewhite;
}

.password-label {
    color: antiquewhite;
}

.link {
    font-size: 19px;
    color: antiquewhite;
}