.register-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(84, 94, 104);
    width: 425px;
    height: 600px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.button-submit {
    background-color: whitesmoke;
    font: 1em sans-serif;
    border: none;
    margin-bottom: 95px;    
}

.name-input { 
    width: 220px;
    height: 25px; 
}

.email-input {
    width: 220px;
    height: 25px;
}

.password-input {
    width: 220px;
    height: 25px;
}

.register-form-text {
    color: antiquewhite;
    text-align: center;
}

.name-label {
    color: whitesmoke;
}

.email-label {
    color: whitesmoke;
}

.password-label {
    color: whitesmoke
}

.re-password-label {
    color: whitesmoke;
}